

/* start of component styles */

.bars-button:hover {
    background-color: rgb(100, 100, 100);
    transition: 0.15s;
}
  
.bars-button:active {
    background-color: rgb(100, 100, 100);
}

.side-container {
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.search-box {
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 3%;
}

.offcanvas-body {
    margin-top: -4%;
}

.offcanvas-section:hover {
    background-color: rgb(100, 100, 100);
    transition: 0.15s;
}

.chats-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;     /* scroll only this area */
    overflow-x: hidden;
}


.chat-preview {
    width: 100%;
    border-radius: 0 !important;
    padding: 10px;
    border: none;
    flex-grow: 1;
}

.chat-preview:hover {
    background-color: rgb(100, 100, 100);
    transition: 0.15s;
}

.chat-body {
    min-width: 0;
}

.chat-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover; 
    border: 1px solid rgba(255, 255, 255, 0.1); /* Optional subtle border */
}

.main-chat {
    flex: 1;
    width: 1233px;
    height: 100vh;
    overflow: auto;
    overflow-y: auto;
    background-size: cover;
    background-position: center;
    scroll-behavior: auto;
    white-space: normal;  
    flex-direction: column-reverse;
}


.chat-message-recieved,
.chat-message-sent {
    max-width: 75%;
    word-break: break-word;
}

.chat-message-recieved {
    background-color: #8c8c8c;
    align-self: flex-start;
}

.chat-message-sent {
    background-color: #006c74;
    align-self: flex-end;
}

.chat-input-container {
  position: fixed;
  bottom: 0;
  left: 300px; /* matches your side-container width */
  width: calc(100% - 300px); /* take up the rest of the width */
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: rgb(60, 60, 60);
}

.chat-textbox {
  flex-grow: 1;
  resize: none;
  padding: 10px 40px 10px 10px; /* extra right padding for the icon */
  border: none;
  border-radius: 8px;
  background-color: rgb(60, 60, 60);
  color: white;
}

.chat-textbox:focus {
  outline: none;
}

.send-icon {
  position: absolute;
  right: 20px;
  bottom: 16px;
  cursor: pointer;
  color: white;
  margin-bottom: 2px;
}

.send-icon-button {
  position: absolute;
  right: 0px;
  bottom: 0px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.send-icon-button:focus {
  outline: none;
}
